<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to mern Envoice</title>
</head>
<body>
    <h3>Account Verified</h3>
    <p>Hi <b>{{name}}</b>, thanks for verifying the account.</p>
    <p>You can now click this link to 
        <b><a href="{{link}}">Login to account</a></b>
    </p>
    <p>Hope you find out service of value!</p>    
</body>
</html>